# Ignore all Maven target directories in all modules
**/target/

# Optionally, ignore build artifacts from Gradle too (if mixed build)
**/build/

# Optional: ignore IDE folders
.idea/
*.iml
*.classpath
*.project
.settings/

# OS-specific
.DS_Store
Thumbs.db

**/target/*

**/.idea/*
**/.idea/

**/.vscode/*
**/.vscode/
logs/*
**/logs/*
**/logs


common/common-domain/target/*
common/common-dataaccess/target/*
common/common-application/target/*

nvp/target/*
nvp/logs/*